<%= form_tag import_products_path, multipart: true do %>
  <div class="field">
    <%= label_tag 'price_list' %>
    <%= file_field_tag 'price_list' %>
  </div>

  <div class="actions">
    <%= submit_tag 'save' %>
  </div>
<% end %>
