<p id="notice"><%= notice %></p>

<h1>Products</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Price list</th>
      <th>Brand</th>
      <th>Code</th>
      <th>Stock</th>
      <th>Cost</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.price_list %></td>
        <td><%= product.brand %></td>
        <td><%= product.code %></td>
        <td><%= product.stock %></td>
        <td><%= product.cost %></td>
        <td><%= product.name %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= paginate @products %>
<br>
<%= page_entries_info @products, entry_name: 'item' %>
<br>
<br>

<%= link_to 'New Product', new_product_path %>
